<header class="sn-navbar">
    <div class="sn-nav-inner">
      <div class="sn-nav-left">
        <a href="/listings" class="sn-logo">
            <i class="fa-solid fa-house-circle-check fa-bounce"></i> <span>StayNest</span>
          </a>
      </div>

      <div class="sn-nav-center">
        <div class="sn-search">
          <span>Anywhere</span>
          <span class="sn-dot"></span>
          <span>Any week</span>
          <span class="sn-dot"></span>
          <span>Add guests</span>
        </div>
      </div>

      <div class="sn-nav-right">
        <a href="/listings/new" class="sn-host">Create listing</a>
        <div class="sn-profile">
          <a href="/profile"><i class="fa-solid fa-user"></i></a>
          
        </div>
      </div>
    </div>
  </header>