<% layout('layouts/boilerplate') %>

<div class="error-page">
  <div class="error-box">
    <h1>Oops!</h1>
    <p><%= message %></p>
    <a href="/listings" class="error-btn">Go Back</a>
  </div>
</div>